PORT=3000
JWT_SECRET=un-secreto-super-seguro-cambialo-luego
JWT_EXPIRES_IN=1h
DATABASE_URL="mysql://root:root@localhost:3306/minijira"
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=tu-access-key
AWS_SECRET_ACCESS_KEY=tu-secret-key
S3_BUCKET_NAME=minijira-attachments-iram